<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lịch hẹn tư vấn</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/book_table.js"></script>
</head>


<body>
    <div class="container fix-height">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-3">
                    <span class="title">Thông tin đặt lịch tư vấn</span>
                </div>
                <input type="text" id="psid" hidden>
                <div class="form-group">
                    <label for="customerName">Họ và tên:</label>
                    <input type="text" id="customerName" class="form-control " placeholder="Họ và tên...">
                </div>
                <div class="form-group">
                    <label for="email">Địa chỉ email (<span style="color: red">*</span>):</label>
                    <input type="email" id="email" class="form-control" placeholder="Địa chỉ email...">
                    <div class="invalid-feedback">Địa chỉ email không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại (<span style="color: red">*</span>):</label>
                    <input type="text" id="phoneNumber" class="form-control" placeholder="Số điện thoại...">
                    <div class="invalid-feedback">Số điện thoại không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="faculty"> Khoa (<span style="color: red">*</span>):</label>
                    <!-- <input /> -->
                    <div class="dropdown" id="faculty">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="trigger-faculty"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="width: 100% !important">
                            Chọn khoa
                        </button>
                        <div class="dropdown-menu" aria-labelledby="trigger-faculty">
                            <% for (var i = 0; i < data.length; i++) { %>
                            <a class="dropdown-item" href="#"><%= data[i] %></a>
                            <% } %>
                        </div>
                    </div>
                    <div class="invalid-feedback">Vui lòng chọn khoa.</div>
                </div>
                <div class="form-group">
                    <label for="time">Khung giờ (<span style="color: red">*</span>):</label>
                    <div class="dropdown" id="time">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="trigger-time"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="width: 100% !important">
                            Chọn khung giờ
                        </button>
                        <div class="dropdown-menu" aria-labelledby="trigger-time">
                            <a class="dropdown-item" href="#">Sáng thứ hai</a>
                            <a class="dropdown-item" href="#">Chiều thứ hai</a>
                            <a class="dropdown-item" href="#">Sáng thứ ba</a>
                            <a class="dropdown-item" href="#">Chiều thứ ba</a>
                            <a class="dropdown-item" href="#">Sáng thứ tư</a>
                            <a class="dropdown-item" href="#">Chiều thứ tư</a>
                            <a class="dropdown-item" href="#">Sáng thứ năm</a>
                            <a class="dropdown-item" href="#">Chiều thứ năm</a>
                            <a class="dropdown-item" href="#">Sáng thứ sáu</a>
                            <a class="dropdown-item" href="#">Chiều thứ sáu</a>
                            <a class="dropdown-item" href="#">Sáng thứ bảy</a>
                        </div>
                    </div>
                    <div class="invalid-feedback">Khung giờ không hợp lệ.</div>
                </div>
                <button class="btn btn-primary" id="btnBookTable"> ĐẶT LỊCH </button>
            </div>

        </div>

    </div>
    <footer>
        <div class="text-center">
            <div class="">
                <span class="mr-3"> &copy; <a title="CAPSTONE K24PM"
                        href="https://www.facebook.com/B%C3%A1c-s%C4%A9-V%C4%83n-Lang-109866731562751"
                        target="_blank">Chatbot</a></span>
                <span class="ml-3">
                    Tạo bởi <a href="http://cntttest.vanlanguni.edu.vn:18080/CP24Team02/trang-chu" title="Owner"
                        target="_blank">PinkPanther</a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>